# encrypt env files, prevent any text conversions (CRLF/LF)
**/.env filter=git-crypt diff=git-crypt -text

# (encrypt keys/certs if present)
**/*.pem filter=git-crypt diff=git-crypt -text
**/*.key filter=git-crypt diff=git-crypt -text
**/*.p12 filter=git-crypt diff=git-crypt -text
**/*.pfx filter=git-crypt diff=git-crypt -text
